## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser

!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

*.xcuserdata

.DS_Store
*.xcuserstate
